/*Global styles*/

/*Get fonts from google api*/
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

/*Prebuilt Material Design themes, use one at time.*/
@import '~@angular/material/core/theming/prebuilt/purple-green.css';

/*@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';*/

/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/

/*@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';*/



/*Custom styles*/

body {
  margin: 0;
  font-family: Noto, sans-serif;
}

md-card {
  max-width: 80%;
  margin: 8em auto;
  text-align: center;
}

md-toolbar-row {
  justify-content: space-between;
}

.mark {
  position: fixed;
  bottom: 20px;
  right: 20px;
}